.example-margin {
  margin: 0 10px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.mat-card{
  width: 1220px;
}
.content{
  margin-left: 40px;
  margin-right: 40px;
}

