<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
      <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
      <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban Demo</a>
      <a mat-list-item routerLink="/customers" (click)="drawer.close()">SSR Demo</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">


        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo" routerLink="/"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> </span>

      <span class="fill-space"></span>
      <div *ngIf="(isHandset$ | async) === false">

        <a mat-button routerLink="/dashboard" >  <mat-icon>dashboard</mat-icon>Dashboard</a>
        <a mat-button
          [matBadge]="servicesCant$ | async"
          matBadgeColor="warn"
          [matMenuTriggerFor]="mservices" >
          <mat-icon
          >
           business</mat-icon>
           Service
           <mat-menu #mservices="matMenu">
            <button mat-menu-item
             [matMenuTriggerFor]="mngServices">Manage</button>
          </mat-menu>

          <mat-menu #mngServices="matMenu">
            <button mat-menu-item
            (click)="travel()"
            >Services
            <span class="material-icons">
              supervised_user_circle
              </span>
            </button>
            <button mat-menu-item>Inmigration</button>
            <button mat-menu-item>Credit Score</button>
            <button mat-menu-item>Notary Signing Agent</button>
            <button mat-menu-item>Tax Return</button>
          </mat-menu>
           <!--
          <mat-menu #otherServices="matMenu">
            <button mat-menu-item>Insects</button>
            <button mat-menu-item>Molluscs</button>
            <button mat-menu-item>Crustaceans</button>
            <button mat-menu-item>Corals</button>
            <button mat-menu-item>Arachnids</button>
            <button mat-menu-item>Velvet worms</button>
            <button mat-menu-item>Horseshoe crabs</button>
          </mat-menu>
          <mat-menu #fish="matMenu">
            <button mat-menu-item>Baikal oilfish</button>
            <button mat-menu-item>Bala shark</button>
            <button mat-menu-item>Ballan wrasse</button>
            <button mat-menu-item>Bamboo shark</button>
            <button mat-menu-item>Banded killifish</button>
          </mat-menu>

          <mat-menu #amphibians="matMenu">
            <button mat-menu-item>Sonoran desert toad</button>
            <button mat-menu-item>Western toad</button>
            <button mat-menu-item>Arroyo toad</button>
            <button mat-menu-item>Yosemite toad</button>
          </mat-menu>

          <mat-menu #reptiles="matMenu">
            <button mat-menu-item>Banded Day Gecko</button>
            <button mat-menu-item>Banded Gila Monster</button>
            <button mat-menu-item>Black Tree Monitor</button>
            <button mat-menu-item>Blue Spiny Lizard</button>
            <button mat-menu-item disabled>Velociraptor</button>
          </mat-menu> -->
        </a>
        <a mat-button routerLink="/media"
        [matBadge]="mediaCant$ | async"
         matBadgeColor="warn" > <mat-icon>play_arrow</mat-icon>Media</a>
        <a mat-button routerLink="/event"
        [matBadge]="events$ | async"
        matBadgeColor="warn">
        <mat-icon>calendar_today</mat-icon>Event</a>
        <a mat-button routerLink="/reports" > <mat-icon>bar_chart</mat-icon>Report</a>
        <a mat-button routerLink="/kanban">🍱 Kanban Demo</a>
        <a mat-button routerLink="/customers">⚡ SSR Demo</a>
        <a mat-button routerLink="/login" *ngIf="(afAuth$.authState | async) === null">🔑 Login</a>
        <a mat-button routerLink="/profile" *ngIf="afAuth$.authState | async as user" >
          <img class="avatar" [src]="user.photoURL || 'assets/default-user.svg'">
          Profile
        </a>

      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <a mat-menu-item href="#">
          <span class="material-icons">
            help
            </span>
            Help
        </a>
      </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
