<!-- Media Table -->
<div class="col-lg-12 col-md-12">
  <h1>Manage Media</h1>
  <button mat-raised-button color="primary" (click)="openUploadDialog()">Upload</button>
  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <app-package-search></app-package-search>
    </div>
  </div>

  <br>
  <div></div>

  <mat-card appMaterialElevation raisedElevation="16">
    <mat-card-header>
      <mat-card-title>Media Grid</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <div style='height: 100%'>
        <div [ngStyle]="style">
          <ag-grid-angular #agGrid
          id="myGrid"
          style="width:1800px; height: 480px;"
          class="ag-theme-material"
          [rowData]="this.mediaData$ | async"
          rowSelection="multiple"
          [frameworkComponents]="frameworkComponents"
          [rowBuffer]="rowBuffer"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (gridReady)="onGridReady($event)"
          >
      </ag-grid-angular>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <section class="example-section">
    <mat-progress-bar *ngIf="showSpinner$ | async" class="example-margin" [color]="color" [mode]="mode" [value]="value"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section>
</div>
