
<header>
    <h1>The First Moncada's Office Services</h1>
</header>
<div class="container">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        [style.background]="tile.color">
        <mat-card width="tile.width" height="tile.height">
           <mat-card-header>
           <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
             <span class="material-icons">
              launch
              </span>
              <a href="{{tile.url}}">{{tile.text}}</a></mat-card-title>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>
              <span  matTooltip="{{likeTooltip}}" class="material-icons">
                thumb_up
                </span>
              </button>
              <button mat-button>
                <span matTooltip="{{shareTooltip}}" class="material-icons">
                share
                </span></button>
            </mat-card-actions>
          </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
